<p>Sorted by <%= request['order'].capitalize %></p>
<table>
	<% @albums.all(:order => [request['order'].to_sym.asc]).each do |album| %>
		<% if album.rank == request['rank'].to_i %>
			<tr class="highlight">
		<% else %>
			<tr>
		<% end %>
		<td><%=album.rank%></td><td><%=album.title%></td><td><%=album.year%></td></tr>
	<% end %>
</table>