<html>
	<head>
		<title>Top 100 Albums of All Time</title>
		<link rel="stylesheet" type="text/css" href="list.css">
	</head>
	<body>
		<h1>Rolling Stone's Top 100 Albums of All Time</h1>
		<p>Sorted by <%= request['order'].capitalize %></p>
		<table>
			<% @albums.execute("SELECT * FROM albums ORDER BY #{request['order']};") do |album| %>
				<% if album[3] == request['rank'].to_i %>
					<tr class="highlight">
				<% else %>
					<tr>
				<% end %>
				<td><%=album[3]%></td><td><%=album[1]%></td><td><%=album[2]%></td></tr>
			<% end %>
		</table>
	</body>
</html>