<% columns = "<td>#{album[:rank]}</td><td>#{album[:name]}</td><td>#{album[:year]}</td></tr>" %>
<% if album[:rank] == request['rank'].to_i %>
  	<tr class=\"highlight\"><%= columns %>
<% else %>
  	<tr><%= columns %>
<% end %>