body {
    background-color: #999999;
    font-family: Helvetica, Arial;
}

.header {
    background-color: #C0C0C0;
}

.progress {
    background-color: #EBECFE;
}

.main {
    background-color: #FBFBFB;
}

.footer {
    background-color: #ECECEC;
}
